# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# PyCharm files
.idea/

# Data outputs
data/output/

# Logs
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints
